*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;

   
}
#main{
    height: 100%;
    width:  100%;
    background-color: antiquewhite;
}
#logo{
   height: 50%; 
  
    /* overflow: hidden; */
   
    object-fit: cover;
     
}
#header{
    height: 12vh;
    width:  100%;
     background-color: rgb(229, 224, 224);
     position: fixed;
      display: flex; 
      align-items: center;
      z-index: 50;
     
      background-color: rgb(227, 227, 220);
      justify-content: space-around;
}
#contactdetails{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    
}
.text{
    
    
    color: #4c8ac0;
    display: flex;
    font-size: large;
    font-weight: bold;
    font-weight: lighter;
    
}
#fakeHeader{
    height: 12%;
    width:  100%;
        }
     

   #page1{
        height: 90vh;
    width:  100%;
     background-color: rgb(68, 153, 217); 




     }
     #icon{
        
        padding: 10px;
        border-radius: 50%;

     }
     #page2{
        height: 90vh;
    width:  100%;
     background-color: rgb(164, 172, 4); 




     }
     #icon:hover{background-color: rgb(149, 184, 195);}
   


#login{
    display: flex;
padding: 10px;
border-radius: 20%;

}
#try{
    padding: 10px;
    border-radius: 20%;
}
#login:hover{background-color: rgb(149, 185, 199);

}


#try:hover{background-color: rgb(8, 31, 8);}
#contactdetails:hover{
    text-underline-position: below;
    background-color: black;
}
.text:hover{
    color: purple;
}
#strip{
    height: 8%;
    background-color: rgb(3, 21, 75);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}
#content{height: 74%;
    width: 100%;
background-color: wheat;
display: flex;
}
#heading{
    height: 16%;
    width: 100%;
    background-color: rgb(4, 23, 76);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: normal;
}

#box1
{
    height: 90%;
    width: 50%;
    background-color: white;
    margin: 10px;
    
}
#box2
{
    height: 90%;
    width: 50%;
    background-color: white;
    margin: 10px ;
}
#button{
    display: flex;

}
#btn1{
   
     margin-left: 40px; 
    /* margin-right: 40px; */
    background-color: #4c8ac0;
    padding: 10px 20px;
    /* border-radius: 20%; */
    border-color: black;
     color: white; 
}
#btn2{
    padding: 10px 20px;
    /* border-radius: 20%; */
    /* color: #4c8ac0; */
    border: 1px solid #4c8ac0;
   
}
#btn1:hover{
    background-color: rgb(148, 113, 64);
}
#btn2:hover{
    background-color: rgb(232, 220, 49);
}
    #video{
       margin-top: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
       
    border-radius: 50%; 
    object-fit: cover3;
    }

    